= form_for owner, :validate => true, :html => {:class => 'form-horizontal'}, :remote => true do |f|

  .control-group
    = f.label :name, 'Name:', :class => 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :email, 'Email:', :class => 'control-label'
    .controls
      = f.text_field :email
  .control-group
    .controls
      = f.submit 'Save', :class => "btn"