= form_for task, :validate => true do |f|
  %table
    %tr
      %th
        = f.label :title, "Title"
      %th
        = f.label :completed, "Completed"
      %th
        = f.label :position, "Position"
      %th
        = f.label :category, "Category"
      %th
        = f.label :due_date, "Due Date"
    %tr
      %td
        = f.text_field :title
      %td
        = f.check_box :completed
      %td
        = f.text_field :position
      %td
        = f.select :category, :options => ["work", "personal"]
      %td
        = f.date_select :due_date
      %td
        - if @task.id?
          = submit_tag "Save Task"
        - else
          = submit_tag "Add Task"