.task_title{:class => task_class(task)}
  = task.title
.category= "category: #{task.category}"
.task_edit
  = link_to "edit", (edit_task_url :id => task.id)
.task_delete
  = button_to "delete", task, :method => :delete
.task_completed
  = button_to "completed", task_path(task, :task => {:completed => true}), :method => :put