%tr{:class => overdue_task(task)}
  %td= task.position
  %td{:class => completed_task(task)}
    = task.title.downcase
  %td= task.due_date.strftime(('%b %d'))
  %td= task.owner.name
  %td.category= task.category
  %td
    - unless task.completed?
      = link_to "edit", (edit_task_url :id => task.id), :class => "btn btn-small task_edit"
    = button_to "delete", task, :method => :delete, :class => "btn btn-small task_delete", :form_class => "task_delete"
    - unless task.completed?
      = button_to "completed", task_path(task, :task => {:completed => true}), :method => :put, :class => "btn btn-small task_completed", :form_class => "task_complete"