%h1 Todo List Task (New)

= form_for(@task) do |f|
  = f.label :title
  = f.text_field :title
  = f.label :completed
  = f.check_box :completed
  = f.label :position
  = f.text_field :position
  = f.submit 'Create'