!!! 5
%html
  %head
    %title TodoList
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
    %br
    #nav
      = link_to "home", url_for(:action => :index, :only_path => false)
      = link_to "new", new_task_url

