!!! 5
%html
  %head
    %title TodoList
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
    %p
      = link_to "home", :action => :index

